<%- include("partials/header"); -%>


<h1>HOME</h1>
<p>Mini Project Phase 1</p>
<p>LETS START</p>
<br><br>
<form class="" action="/" method="post">
  <h2>Region</h2>
  <input type="text" name="v1" placeholder="v1" autocomplete="off">
  <input type="text" name="v2" placeholder="v2" autocomplete="off">
  <br><br>
  <h2>Test result</h2>
  <input type="number" name="pp1" placeholder="pp1" autocomplete="off">
  <input type="number" name="pp2" placeholder="pp2" autocomplete="off">
  <input type="number" name="pp3" placeholder="pp3" autocomplete="off">
  <br><br><br><br>
  <button type="submit" name="button">SUBMIT</button>
</form>


<%- include("partials/footer"); -%>
