<%- include("partials/header"); -%>

<div id="homepage">

  <!-- <img src="" style="height: 180px; width: 200px;" alt=""> -->
  <br><br>
  <div id="search">
    <br>
    <form class="" action="/" method="post">
      <label for="State"><p>Choose your State:</p></label>
      <select id="State" name="v1">
        <option value="">--SELECT STATE--</option>
        <option value="ANDAMAN">Andaman and Nicobar Islands</option>
        <option value="ANDHRA">Andhra Pradesh</option>
        <option value="ARUNACHAL">Arunachal Pradesh</option>
        <option value="ASSAM">Assam</option>
        <option value="BIHAR">Bihar</option>
        <option value="CHANDIGARH">Chandigarh</option>
        <option value="CHHATTISGARH">Chhattisgarh</option>
        <option value="DADRA">Dadra and Nagar Haveli</option>
        <option value="GOA">Goa</option>
        <option value="GUJRAT">Gujrat</option>
        <option value="HARYANA">Haryana</option>
        <option value="HIMACHAL">Himachal Pradesh</option>
        <option value="JAMMU">Jammu and Kashmir</option>
        <option value="JHARKHAND">Jharkhand</option>
        <option value="KARNATAKA">Karnataka</option>
        <option value="KERALA">Kerala</option>
        <option value="MADHYA">Madhya Pradesh</option>
        <option value="MAHARASHTRA">Maharashtra</option>
        <option value="MANIPUR">Manipur</option>
        <option value="MEGHALAYA">Meghalaya</option>
        <option value="MIZORAM">Mizoram</option>
        <option value="NAGALAND">Nagaland</option>
        <option value="ODISHA">Odisha</option>
        <option value="PUDUCHERRY">Puducherry</option>
        <option value="PUNJAB">Punjab</option>
        <option value="RAJASTHAN">Rajasthan</option>
        <option value="SIKKIM">Sikkim</option>
        <option value="TAMIL NADU">Tamil Nadu</option>
        <option value="TELENGANA">Telangana</option>
        <option value="TRIURA">Tripura</option>
        <option value="UTTAR">Uttar Pradesh</option>
        <option value="UTTARAKHAND">Uttarakhand</option>
        <option value="BENGAL">West Bengal</option>
    
      </select>
      <br><br>
      <label><p>Soil pH LEVEL: </p></label>
      <input style="width: 80px; height: 25px;" type="double" name="p1" placeholder="pH" autocomplete="off">
      <!-- <input type="double" name="p2" placeholder="Soil Type" autocomplete="off"> -->
      <br>
      <label for="Soil"><p>  Soil Type:</p></label>
      <select id="Soil" name="p2">
        <option value="CLAY">CLAY SOIL</option>
        <option value="CHALK">CHALK SOIL</option>
        <option value="LOAM">LOAM SOIL</option>
        <option value="PEAT">PEAT SOIL</option>
        <option value="SANDY">SANDY SOIL</option>
        <option value="SILT">SILT SOIL</option>
      </select>
    
      <br><br>
      <button type="submit" class="btn btn-primary" style="background-color: chartreuse; color: dodgerblue;">SEARCH</button>
      <!-- <button type="submit" name="button">SUBMIT</button> -->
      <br><br>
    </form>
    <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/ribdawhq.json"
        trigger="loop"
        colors="primary:#121331,secondary:#08a88a"
        style="width:128px;height:128px">
    </lord-icon>
  </div>
  
  

</div>



<%- include("partials/footer"); -%>
