<%- include("partials/header"); -%>


<h1>HOME</h1>
<br><br>
<h1>RESULT PAGE</h1>

<div id="RESULT">
    <div id="STATE">
        <div id="KHARIF">
            <div id="FRUITS">
                <% fruit.forEach(function(fruit){ %>
                    <p><%= fruit.Name %></p>
                <% }); %>
            </div>
            <div id="VEGETABLES">
        
            </div>
            <div id="GRAINS">
        
            </div>
        </div>
        <div id="RABI">
            <div id="FRUITS">

            </div>
            <div id="VEGETABLES">
        
            </div>
            <div id="GRAINS">
        
            </div>
        </div>
        <div id="ZAID">
            <div id="FRUITS">

            </div>
            <div id="VEGETABLES">
        
            </div>
            <div id="GRAINS">
        
            </div>
        </div>
    </div>
    
</div>

<a href="/">HOME</a>



<%- include("partials/footer"); -%>
